._tosAgreeButton
  display: flex;
  width: 80%
  box-shadow: 0px 1px 2px var(--ghostX);
  background-color: rgb(26, 153, 209);
  justify-self:center
  height:50px
  align-items: center
  justify-content:center
  border-radius: 8px;
  color: white
  font-family: MainFont;
  font-size: 16px;
  transition: all .1s linear;
  
  
  
  


._tosAgreeButton:hover
  box-shadow: 0px 4px 30px -8px var(--ghostX)
  border-bottom: 2px solid #002739
  transform: translateY(-1px)

._tosContainer
    width: 100%;
    overflow-y: scroll



